<form #form="ngForm" action="" method="post" (ngSubmit)="createPost(form)">
  <!-- //heading: string,
    description: string,
    type: string,
    author: string -->
  <div class="inputs-wrapper">
    <div class="label-wrapper">
      <label for="heading">Heading:</label
      ><input
        class="input-text"
        #headingInput="ngModel"
        ngModel
        name="heading"
        required
        type="text"
      />
    </div>
    <ng-container *ngIf="headingInput.touched">
      <p *ngIf="headingInput.errors?.required" class="error-message">
        The heading is required!
      </p>
    </ng-container>
    <div class="label-wrapper">
      <label for="description">Description:</label>
      <textarea
        #descriptionInput="ngModel"
        ngModel
        class="input-text"
        name="description"
        cols="45"
        rows="15"
        required
      ></textarea>
    </div>
    <ng-container *ngIf="descriptionInput.touched">
      <p *ngIf="descriptionInput.errors?.required" class="error-message">
        The description is required!
      </p>
    </ng-container>
    <div class="label-wrapper">
      <label for="type">Type:</label>
      <select
      required
        #typeInput="ngModel"
        ngModel
        class="input-text"
        name="type"
        id="types"
      >
        <option value="player">Player</option>
        <option value="team">Team</option>
      </select>
    </div>
    <ng-container *ngIf="typeInput.touched">
      <p *ngIf="typeInput.errors?.required" class="error-message">
        The type of the post is required!
      </p>
    </ng-container>

    <div><input class="button" type="submit" value="Post" /></div>
  </div>
</form>
