<form #form="ngForm" action="" method="post" (ngSubmit)="createPost(form)">
  <!-- //heading: string,
    description: string,
    type: string,
    author: string -->
  <div class="inputs-wrapper">
    <div class="label-wrapper">
      <label for="heading">Heading:</label
      ><input
        class="input-text"
        #headingInput="ngModel"
        ngModel
        name="heading"
        required
        type="text"
      />
    </div>
    <div class="label-wrapper">
      <label for="description">Description:</label>
      <textarea
        #descriptionInput="ngModel"
        ngModel
        class="input-text"
        name="description"
        cols="45"
        rows="15"
      ></textarea>
    </div>

    <div class="label-wrapper">
      <label for="type">Type:</label>
      <select
        #typeInput="ngModel"
        ngModel
        class="input-text"
        name="type"
        id="types"
      >
        <option value="player">Player</option>
        <option value="team">Team</option>
      </select>
    </div>

    <div><input class="button" type="submit" value="Post" /></div>
  </div>
</form>
