<header>
  <section>
    <nav>
      <ul class="nav-ul">
        <li class="nav-li">
          <a class="nav-a" routerLink="/" href="">home</a>
        </li>
        <li class="nav-li"><a class="nav-a" href="">all posts</a></li>
        <li class="nav-li"><a class="nav-a" routerLink="new-post">new post</a></li>
      </ul>
    </nav>
  </section>
  <article>
    <h1>FOOTBALL BLOG</h1>
    <div *ngIf="!isLoged" class="second-nav-div">
      <ul class="second-nav-ul">
        <li><a routerLink="login">Login</a></li>
        <li><a routerLink="register">Register</a></li>
      </ul>
    </div>
    <div *ngIf="isLoged" class="second-nav-div">
      <ul>
        <ul class="second-nav-ul">
          <li><a routerLink="profile">my profile</a></li>
          <li><a class="logoutA" (click) = "logout()">logout</a></li>
        </ul>
      </ul>
    </div>
  </article>
</header>
